<mat-card class="mt-3">
  <mat-card-title>
    <h3>Instalacion de Nodejs</h3>
  </mat-card-title>
  <mat-card-content>
    <img
      src="../../../../../../../assets/img/documentation/nodejs.png"
      alt="logo node"
    />
    <p>
      debemos de tener instalado node en caso de que no puede descargarlo de
      link
    </p>
    <a href="https://nodejs.org/en">nodejs</a>
  </mat-card-content>
</mat-card>

<mat-card class="mt-3">
  <mat-card-title>
    <h3>Comando para instalar Angular/CLI</h3>
  </mat-card-title>
  <mat-card-content>
    <p>
      Debemos abrir una Terminal (Mac/Linux) o cmd (windows) colocamos el
      siguiente comando
    </p>
    <p>
      <strong>(windows) npm install -g @angular/cli</strong>
    </p>
    <p>
      <strong>(Mac/Linux) sudo npm install -g @angular/cli</strong>
    </p>
    <img
      src="../../../../../../../assets/img/documentation/terminal.png"
      alt="terminal mac"
    />
  </mat-card-content>
</mat-card>

<mat-card class="mt-3">
  <mat-card-title><h3>Validar instalacion</h3></mat-card-title>
  <mat-card-content>
    <p>
      Para validar la instalacion colocar el comando en la terminal
      <strong>ng version (ng v)</strong>
    </p>
    <p>
      con la cual nos mostrara la imagen de la version, sistema operativo en el
      cual esta instalada, asi mismo valida la version de nodejs.
    </p>
  </mat-card-content>
</mat-card>
