/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.with-img {
  width: 2rem !important;
  border: 50% !important;
  margin-left: 1rem;
}
