<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img
      src="../../../../assets/img/logo/angular-logo.png"
      alt=""
      class="with-img"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="" [routerLinkActive]="['active', '']"
          >?</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="clase2"
          [routerLinkActive]="['active', '']"
          >Clase</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="documentacion"
          [routerLinkActive]="['active', '']"
        >
          Documentacion Angular</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="actividad"
          [routerLinkActive]="['active', '']"
          >Actividades</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="evidencias"
          [routerLinkActive]="['active', '']"
          >Evidencia Alumnos</a
        >
      </li>
    </ul>
  </div>
</nav>
